{% extends 'admin/layout.html.twig' %}

{% block main %}
    <div>
        <h1 class="is-size-3">{{ 'title.edit_post'|trans({'%id%': post.id}) }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.content) }}

        <button type="submit" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-save" aria-hidden="true"></i>
            </span>
            <span>{{ 'label.update_post'|trans }}</span>
        </button>

        <a href="{{ path('admin_post_list') }}" class="button is-link">
            <span class="icon is-small">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
            </span>
            <span>{{ 'action.back_to_list'|trans }}</span>
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
