{% extends 'admin/layout.html.twig' %}

{% block main %}
    <div>
        <h1>{{ 'title.post_new'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.content) }}

        <button type="submit" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-save" aria-hidden="true"></i>
            </span>
            <span>{{ 'label.create_post'|trans }}</span>
        </button>
        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('app_homepage') }}" class="button is-link">
            <span class="icon is-small">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
            </span>
            <span>{{ 'action.back_to_list'|trans }}</span>
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
