{#
Base template for the administration section.
#}
{% extends 'base.html.twig' %}

{% block body_attributes %}class="has-navbar-fixed-top"{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <nav class="navbar is-fixed-top is-danger" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ path('app_homepage') }}" class="navbar-item">
                    <span class="icon is-medium"><i class="fas fa-lg fa-long-arrow-alt-left"></i></span>
                    <span>{{ 'link.back_to_site'|trans }}</span>
                </a>

                <a class="navbar-item">
                    {{ 'link.posts'|trans }}
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            <span class="icon is-medium"><i class="fas fa-sign-in-alt"></i></span>
                            <span>{{ 'link.login'|trans }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% set flashes = app.flashes %}
    {% if flashes %}
        <section class="pt-4">
            {#    #}{# read and display several types of flash messages #}
            {#    {% for label, messages in app.flashes(['success', 'warning']) %}#}
            {#        {% for message in messages %}#}
            {#            <div class="flash-{{ label }}">#}
            {#                {{ message }}#}
            {#            </div>#}
            {#        {% endfor %}#}
            {#    {% endfor %}#}

            {# read and display all flash messages, #}
            <div class="container">
                {% for label, messages in flashes %}
                    {% for message in messages %}
                        <div class="notification is-{{ label }}">
                            {{ message|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="py-6">
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </section>
{% endblock %}