{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container custom-width">
            <div class="content">
                {% for id, post in posts %}
                    {% if post.isPublished() %}
                    <div class="columns mb-1">
                        <div class="column is-full">
                            <div class="box p1">
                                <h2><a href="{{ path('app_blog') }}/{{ id }}">{{ post.getTitle }}</a></h2>
                                {% if post.getDescription is defined %}
                                    <p>{{ post.getDescription }}</p>
                                {% endif %}
                                <strong>{{ post.getDate }}</strong>
                            </div>

                            {#                        {{ post.tags }}#}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
