{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div class="content">
                {% for post in posts %}
                    {% if post.isPublished() %}
                        <div class="mb-6">
                            <div class="has-text-grey-dark">
                                <span class="is-uppercase has-text-weight-bold">{{ post.date|date("F Y") }}</span>
                                {% if post.lastUpdated %}
                                    {{ '(Updated ' ~ post.lastUpdated|date("F Y") ~ ')'}}
                                {% endif %}
                            </div>
                            <h2 class="mt-1 mb-3 is-size-4"><a href="{{ path('app_posts') }}/{{ post.getSlug }}">{{ post.title }}</a></h2>
                            {% if post.description is defined %}
                                <p class="">{{ post.description }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
