{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div class="button-back mb-6"><a href="{{ path('app_posts') }}">
                <span class="icon-text">
                    <span class="icon mr-2">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="is-size-5 has-text-weight-medium">Back to posts</span>
                </span>
            </a></div>

            <h1 class="title is-2-desktop-only">{{ post.title }}</h1>
            <div class="subtitle is-5 has-text-grey">
                <span class="has-text-weight-semibold">{{ post.date|date("F jS, Y") }}</span>
                {% if post.lastUpdated %}
                    {{ '(Updated ' ~ post.lastUpdated|date("F jS, Y") ~ ')'}}
                {% endif %}
            </div>

            <div class="content-spacer"></div>

            <div class="content markdown">
                {{ post.body|raw }}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('submodule.post') }}
{% endblock %}
