{% extends 'base.html.twig' %}

{% block importmap %}
    {{ importmap('strava') }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div class="content">
                <div class="table-container">
                <table class="table is-hoverable is-striped is-narrow-mobile has-text-centered is-fullwidth">
                    <thead>
                    <tr>
                        <th>Week</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                        <th>total</th>
                        <th>5 wk avg</th>
                    </tr>
                    </thead>
                    {% for weeklyStat in activitiesByWeek %}
                        <tr>
                            <th>{{ weeklyStat.date }}</th>
                            {% for day, dailyStat in weeklyStat %}
                                <td>
                                    {% if dailyStat.distance > 0 %}
                                    {{ (dailyStat.distance/1609.34)|round(1)}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td><b>{{ (weeklyStat.totalDistance/1609.34)|round(1) }}<span class="is-hidden-mobile">{{ ' mi' }}</span></b></td>
                            <td>
                                {% if not loop.first and date('D') != 'Sun' %}<b>{% endif %}
                                    {{ (weeklyStat.fiveWeekAverage/1609.34)|round(1) }}<span class="is-hidden-mobile">{{ ' mi' }}</span>
                                {% if not loop.first and date('D') != 'Sun' %}</b>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>

                <div class=" is-flex is-align-items-center is-justify-content-center">
                    <img src="{{ asset('images/strava/api/powered by Strava/pwrdBy_strava_light/api_logo_pwrdBy_strava_horiz_light.svg') }}" alt="Powered by Strava" width="150"/>
                    <span> | </span>
                    <a href="https://www.strava.com/" class="pl-2 has-text-strava-orange has-text-weight-bold">view on Strava</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
